In [1]:
import numpy as np
import pandas as pd
import json
import folium

In [2]:
# Import libraries
import glob
import pandas as pd

# Get CSV files list from a folder
#path = '/apps/data_csv_files
#csv_files = glob.glob(path + "/*.csv")
csv_files = glob.glob("./*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file) for file in csv_files)

# Concatenate all DataFrames
big_df   = pd.concat(df_list, ignore_index=True)

In [3]:
list(big_df.columns)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [12]:
id_df = big_df.groupby(['bikeid'])[['starttime']].count().reset_index()
id_df.rename(columns={'starttime':'count'}, inplace=True)
id_df

       bikeid  count
0       14529    385
1       14530    730
2       14531    451
3       14533    644
4       14534    690
...       ...    ...
24977   50103    123
24978   50104     81
24979   50105     12
24980   50106      7
24981   50107      1

[24982 rows x 2 columns]

In [14]:
id_df.sort_values('count', ascending=False)[:10]

       bikeid  count
13252   37078   2721
13150   36962   2717
13518   37420   2621
13176   36992   2574
13242   37066   2564
13436   37311   2560
12991   36756   2534
12785   36516   2493
12621   36313   2480
12485   36155   2469

In [17]:
bike_df = big_df[big_df['bikeid'] == 37078]

In [18]:
bike_df.shape

(2721, 15)

In [20]:
bike_df.to_csv('bike_37078.csv')

In [ ]:
df1 = pd.read_csv('./202302-citibike-tripdata.csv', nrows=40000, parse_dates=['started_at','ended_at'])
df1.head()

In [ ]:
df.groupby(['rideable_type'])[['ride_id']].count()